{% extends 'base.html.twig' %}

{% block title %}Achat{% endblock %}

{% block body %}
<div class="content-grid">
    <h1>Achat</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Nom</th>
                <td>{{ achat.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ achat.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ achat.prix }}</td>
            </tr>
            <tr>
                <th>Termine</th>
                <td>{{ achat.termine ? 'Acheté' : 'Pas encore' }}</td>
            </tr>


        </tbody>
        <a class="btn btn-info" href="{{ path('achat_edit', {'id': achat.id}) }}">Modifier</a>
    </table>


    <a href="{{ path('achat_index') }}">retour à la liste des achats</a>




</div>
{% endblock %}
